html {
  background-color: rgba(235, 235, 235, 0.808);
}
.App {
  background-color: rgba(235, 235, 235, 0.808);
}
 .card {
  width: 80%;
  margin: 2rem auto;
  padding: 0; 
} 


.single-meal {
  display: flex;
  flex-direction: column;
}

.meal-img {
  margin: 0;
  padding: 0;
  border-radius: 5px 5px 0 0;
}

.title {
  padding: 1rem 1rem 0 1rem;
}
.description {
  padding: 1rem;
  max-width: 1200px;
  font-size: large;
}

.single-meal-small { 
  display: grid;
grid-column: auto;
width: 80%;
}

.title-small { 

}
.food-image-small { 

}

.description-small { 
  color: red;
}